name: "{{ .task_name }}"
artefact_path: "sources"
script:
{{- if .pre_scripts }}
{{ .pre_scripts }}
{{- end }}
- export CLFS=${HOME}
#- bin/sourcer fetch
- bin/builder ${ARCH} cross_tools
- bin/builder ${ARCH} tools
- eval 'rm sources/* || true'
environment:
- SHELL=/bin/bash
- ARCH={{ .arch }}
{{- if .envs }}
{{ replaceAll .envs ":" "=" }}
{{- end }}
image: {{ .image }}
namespace: tarballs
source: https://code.funtoo.org/bitbucket/scm/core/ffs.git
type: lxd
directory: /

# vim: filetype=yaml
