# Mottainai Pipeline template for test all images defined
# in the mottainai.values file with `pipeline` attribute
# with value true.

pipeline_name: "FFS Distros Test Pipeline - {{ .user }} - {{ dateInZone "2006-01-02T15:04:05.000Z" (now) "UTC" }}"

group:
{{- range $index, $idata := .images2test }}
{{- $forpipeline := index $idata "pipeline" }}
{{- if $forpipeline }}
- {{ index $idata "name" }}
{{- end }}
{{- end }}
{{- $user := .user }}

tasks:
{{- range $idx, $idata := .images2test }}
  image-{{ $idx }}-{{ index $idata "name" }}:
    {{- $pre := index $idata "pre_scripts" }}
    {{- $env := index $idata "environment" }}
    name: 'test ffs/{{ index $idata "name" }} - {{ $user }}'
    script:
    {{- if $pre }}
    {{- range $s := $pre }}
    - {{ $s }}
    {{- end }}
    {{- end }}
    - export CLFS=${HOME}
    - install -d ${CLFS}/sources
    - bin/sourcer fetch
    - bin/builder cross_tools
    - bin/builder tools
    environment:
    - SHELL=/bin/bash
    {{- if $env }}
    {{- range $e := $env }}
    - {{ replaceAll $e ":" "=" }}
    {{- end }}
    {{- end }}
    image: {{ index $idata "image" }}
    source: https://code.funtoo.org/bitbucket/scm/core/ffs.git
    type: lxd
    directory: /
{{- end }}

# vim: filetype=yaml
