name: "{{ .task_name }}"
script:
{{- if .pre_scripts }}
{{ .pre_scripts }}
{{- end }}
- export CLFS=${HOME}
- install -d ${CLFS}/sources
- bin/sourcer fetch
- bin/builder cross_tools
- bin/builder tools
environment:
- SHELL=/bin/bash
{{- if .envs }}
{{ replaceAll .envs ":" "=" }}
{{- end }}
image: {{ .image }}
source: https://code.funtoo.org/bitbucket/scm/core/ffs.git
type: lxd
directory: /

# vim: filetype=yaml
