# Mottainai Pipeline template for test all images defined
# in the mottainai.values file with `pipeline` attribute
# with value true.

pipeline_name: "FFS Distros Test Pipeline - {{ .user }} - {{ dateInZone "2006-01-02T15:04:05.000Z" (now) "UTC" }}"

group:
{{- range $index, $idata := .images2test }}
{{- $forpipeline := index $idata "pipeline" }}
{{- if $forpipeline }}
- image-{{ $index }}-{{ index $idata "name" }}
{{- end }}
{{- end }}
{{- $user := .user }}

tasks:
{{- range $idx, $idata := .images2test }}
  image-{{ $idx }}-{{ index $idata "name" }}:
    {{- $pre := index $idata "pre_scripts" }}
    {{- $env := index $idata "environment" }}
    {{- $arch := index $idata "arch" }}
    name: 'pipeline: test ffs/{{ index $idata "name" }}/{{ $arch }} - {{ $user }}'
    artefact_path: "sources"
    script:
    {{- if $pre }}
    {{- range $s := $pre }}
    - {{ $s }}
    {{- end }}
    {{- end }}
    - export CLFS=${HOME}
    - bin/builder {{ $arch }} cross_tools
    - bin/builder {{ $arch }} tools
    - eval 'rm sources/* || true'
    environment:
    - SHELL=/bin/bash
    {{- if $env }}
    {{- range $e := $env }}
    - {{ replaceAll $e ":" "=" }}
    {{- end }}
    {{- end }}
    image: {{ index $idata "image" }}
    namespace: tarballs
    source: https://code.funtoo.org/bitbucket/scm/core/ffs.git
    type: lxd
    directory: /
{{- end }}

# vim: filetype=yaml
