#!/bin/bash
exec /usr/bin/env -i CLFS=${CLFS} /bin/bash --noprofile --norc << "EOF"
set -e
set -o pipefail
set -u
set +h
set -x
umask 022
install -d "${CLFS}/sources"
install -d "${CLFS}/build"
export PATH=${CLFS}/bin:${CLFS}/cross-tools/bin:/bin:/usr/bin
rm -rf "${CLFS}"/build/*
{{unpack}}
export LC_ALL=POSIX
export CLFS_HOST=$(echo ${MACHTYPE} | sed -e 's/-[^-]*/-cross/')
export CLFS_TARGET="{{target}}"
export CLFS_CFLAGS="{{cflags}}"
export MAKEFLAGS="-j$(nproc) -l$(nproc)"
unset CFLAGS CXXFLAGS
{% block env %}{% endblock %}
{{build_steps}}
EOF
