#!/bin/bash
exec /usr/bin/env -i /bin/bash --noprofile --norc << "EOF"
set -e
set -o pipefail
set -u
set +h
umask 022
export HOME=/home/drobbins
export CLFS=$HOME/clfs
mkdir "${CLFS}/cross-tools"
mkdir "${CLFS}/tools"
mkdir "${CLFS}/sources"
mkdir "${CLFS}/build"
eval $(sourcer --unpack {{sources}})
export LC_ALL=POSIX
export CLFS_HOST=$(echo ${MACHTYPE} | sed -e 's/-[^-]*/-cross/')
export CLFS_TARGET="aarch64-unknown-linux-musl"
export CLFS_ARCH="arm64"
export CLFS_CFLAGS=""
export MAKEFLAGS="-j$(nproc) -l$(nproc)"
export PATH=$CLFS/cross-tools/bin:/bin:/usr/bin
unset CFLAGS CXXFLAGS
{{build_steps}}
EOF
