#!/bin/bash
if [ "$UID" != "0" ]; then
	# if not root, expect sudo to grant us access to fchroot:
	sudo_exe=sudo
else
	sudo_exe=""
fi
exec $sudo_exe fchroot ${CLFS} /bin/bash --login << "EOF"
export CLFS=/
set -e
set -o pipefail
set -u
set +h
set -x
umask 022
rm -rf /build/*
{{unpack}}
export CLFS_TARGET={{target}}
export LC_ALL=POSIX
export MAKEFLAGS="-j$(nproc) -l$(nproc)"
unset CFLAGS CXXFLAGS
{% block env %}{% endblock %}
{{build_steps}}
sleep 0.01
EOF
